{% if is_user_authenticated == False %}
    <h1>Invalid Username or Password!</h1>
    <p>
        Please check your username and password! Try to login <a href="login">here</a>.
    </p>

{% endif %}