{% extends 'base.html' %}

{% block title %}Add Event{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <h1>Add Event</h1>
                {% if error == True %}
                    <p class="text-center">Duplicate event found</p>
                {% endif %}
                <form action="{% url 'todolist:add_event' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="event_name" class="form-label">Event Name:</label>
                        <input type="text" class="form-control" id="event_name" name="event_name" value="{{event_name}}" maxlength="50" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description" value="{{description}}" required></textarea>
                    </div>
                    <div class="mb-3">
                        <input class="btn btn-success" type="submit" value="Add Event">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}