{% if enventitem_list and user.is_anonymous == False %}
    <div class="container">
        <div class="row">
            <h3 class="text-center my-3">My Events</h3>
            <ul class="list-group col-lg-2 offset-lg-5 text-center">
                {% for event in enventitem_list %}
                    <li class="list-group-item">
                        <a href="{% url 'todolist:viewevent' event.id%}">{{event.event_name}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% elif user.is_anonymous == True %}
    <h1>You are not authorized to access this page</h1>
    <p>Kindly login <a href="login">here</a></p>

{% else %}
    <p>No events have been created</p>

{% endif %}