{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    {% if is_user_registered == True %}
        <h1>Duplicate User Found!</h1>
        <p>A duplicate user has been found, user creation unsuccessful!</p>

    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-6 offset-3">
                    <h1 class="text-center">Register</h1>

                    {% if error == True %}
                        <p class="text-danger">Invalid user credentials. Please Check your username and password</p>
                    {% endif %}

                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Username:</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" maxlength="20" required>
                        </div>
                        <div class="mb-3">
                            <label for="first_name" class="form-label">First Name:</label>
                            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter First Name" maxlength="50" required>
                        </div>
                        <div class="mb-3">
                            <label for="last_name" class="form-label">Last Name:</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter Last Name" maxlength="50" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" maxlength="50" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" maxlength="20" required>
                        </div>
                        <div class="text-center">
                            <input class="btn btn-success" type="submit" value="Register">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}